<div class="bg vh-100">

  <h1 class="text-center text-light">Traductor de ASCII a hexa y base64</h1>

  <div class="child text-light text-center">

    <h2>Ingrese cualquier texto en ASCII</h2>


    <form method="post" role="form" [formGroup]="form" >
      <input class="" type="text" placeholder="Escriba aquí.." formControlName="text">
      <button class="btn btn-primary" (click)="convert()" type="submit">Traducir</button>
      <br>
      <label class=" text-light">Hexadecimal</label>
      <label class="mg-text text-light">{{hex}}</label>
      <br>
      <label class="text-light">Hexadecimal</label>
      <label class=" mg-text text-light">{{base64}}</label>
    </form>

  </div>


</div>
